<h2 align="center">Criar Usuários</h2>

<table class="table table-dark" align="center"> 
    <tr>
        <td>
            <label>Nome: </label>
        </td>
        <td>
            <input placeholder="Insira o nome" [(ngModel)]="request.name">
        </td>
    </tr>
    <tr>
        <td>
            <label>Profissão: </label>
        </td>
        <td>
            <input placeholder="Insira a Profissão" [(ngModel)]="request.job">
        </td>
    </tr>
    <tr > 
        <td colspan="2">
            <button (click)="save()">Gravar</button>
        </td>
    </tr>
</table>
<br><br>

<table class="table table-info" align="center">
<div *ngIf="response" >
    <h3>Criado com Sucesso!!</h3>
    <label>Nome: {{response.name}}</label><br>
    <label>Profissão: {{response.job}}</label><br>
    <label>Id: {{response.id}}</label><br>
    <label>Criado em: {{response.createdAt}}</label><br>
</div>
</table>



