
<table class="table table-dark"> 
    <tr>
        <td>
            <label>Lista de Usuários: </label>
        </td>
        <td>
            <nav align="center"> 
                <button routerLink="/users" style="width: 20%;">Listar</button>
            </nav>
        </td>
    </tr>
    <tr>
        <td>
            <label>Criar Usuários: </label>
        </td>
        <td>
            <nav align="center"> 
                <button routerLink="/users/create"style="width: 20%;">Criar</button>
            </nav>
        </td>
    </tr>
</table>
<router-outlet></router-outlet>
 

